<div ng-controller="questionaireCtrl">
    <div class="content">
        <div ng-show="!init">

            Sehr geehrte Patientin, sehr geehrter Patient!
            <br><br>
            Sie werden von uns wegen körperlicher Beschwerden untersucht und behandelt. Zur vollständigen Beurteilung
            lhrer
            vermuteten oder bereits bekannten Erkrankung bitten wir Sie in den vorliegenden Fragebögen um einige
            personliche Angaben.
            Man weiß heute, daß körperliche Krankheit und seelisches Befinden oft eng zusammenhängen. Deshalb beziehen
            sich die Fragen ausdrücklich auf lhre allgemeine und seelische Verfassung.
            Die Beantwortung ist selbstverstandlich freiwillig. Wir bitten Sie jedoch, jede Frage zu beantworten, und
            zwar so, wie
            es für Sie persönlich in der letzten Woche am ehesten zutraf. Machen Sie bitte nur ein Kreuz pro Frage und
            lassen Sie
            bitte keine Frage aus! Überlegen Sie bitte nicht lange, sondern wähllen Sie die Antwort aus, die Ihnen auf
            Anhieb am
            zutreffendsten erscheint! Alle Ihre Antworten unterliegen der ärztlichen Schweigepflicht.
            <br><br>

            <div class="row">
                <button type="button" class="btn btn-default" ng-click="init = true; selectQuesionnair(0)">
                    Starten
                </button>

            </div>
        </div>

        <div ng-show="init && !saved">
            <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-repeat="(i, questionnaire) in questionnaires track by $index"
                        ng-class="(selectedQuestionnaire.index == questionnaire.id -1) ? 'active': ''"
                        ng-show="filterQuestionnaire(questionnaire)"
                        ng-disabled="true">
                        <a>{{questionnaire.title}}</a>
                    </li>
                </ul>
            </div>
            <br><br>

            {{questionnaires[selectedQuestionnaire.index].instruction}}
            <br><br>

            <div class="row">
                <questionnaire-form questionnaire="questionnaires[selectedQuestionnaire.index]"
                                    index="selectedQuestionnaire.index"
                                    answers="answers[selectedQuestionnaire.index]"
                                    reply="true"></questionnaire-form>
            </div>

            <div class="row">
                <button type="button" class="btn btn-default" ng-click="proceed()" ng-hide="readySave">Weiter</button>
                <button type="button" class="btn btn-default" ng-click="save(selecedQuestionaire)" ng-show="readySave">
                    <i class="fa fa-save fa-lg"></i>
                    Speichern
                </button>
            </div>
        </div>

        <div ng-show="saved" class="text-center">
            Vielen Dank für Ihre Zusammenarbeit. <br> <br>
            <button type="button" class="btn btn-default" ng-click="logout()">
                Ausloggen
            </button>
        </div>
    </div>
</div>
