<div ng-controller="questionaireCtrl">
    <div ng-show="!init">

        Lorem Ipsum

        <div class="row">
            <button type="button" class="btn btn-default" ng-click="init = true; selectQuesionnair(0)">
                Starten
            </button>

        </div>
    </div>

    <div ng-show="init">
        <div class="row">
            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        ng-repeat="(i, questionnaire) in questionnaires track by $index"
                        ng-click="selectQuesionnaire(i); selectedQuestionnaire.index = i"
                        ng-class="(selectedQuestionnaire.index == questionnaire.id -1) ? 'selected': ''">
                    {{questionnaire.title}}
                </button>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="save(selecedQuestionaire)">Speichern</button>
            </div>
        </div>
        <br/>

        <div class="row">
            <questionnaire-form questionnaire="questionnaires[selectedQuestionnaire.index]"
                                index="selectedQuestionnaire.index"
                                answers="answers[selectedQuestionnaire.index]"></questionnaire-form>
        </div>

        <div class="row">
            <button type="button" class="btn btn-default" ng-click="proceed()">Weiter</button>
        </div>
    </div>
</div>