<div class="row">
        <div ng-repeat="(i, question) in questionnaire.content track by $index">
            <div class="panel panel-default col-md-6">
                <div class="page-header">
                    <h4>{{question.issue}}</h4>
                </div>
                <div class="panel-body">
                    <div ng-repeat="(j, answer) in question.answers track by $index">
                        <label class="radio-inline">
                            <input type="radio" ng-model="answers.data[i]"  ng-click="save()"
                                   value="{{j}}">
                        </label>
                        {{answers[i]}}
                        {{answer.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
