{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <h1>
        Herzlich Willkommen
    </h1>

    <p>
        Hier können Sie die innerhalb der Anwendung gespeicherten Daten löschen.
        Erreichbar sind die verschiedenen Datensätze wie z.B. Benutzerdaten oder Veranstaltungsdaten über
        die
        oben stehende Navigationsleiste.
        Über einen Klick auf den "FIKtiv" rechts in der Navigation gelangen Sie zurück in die
        Hauptanwendung.
    </p>
</div>
{% endblock %}