@import "../../bootstrap/less/variables.less";

html, body {
  min-height: 100%;
}

body {
  min-width: 1000px;
  overflow-y: scroll;
  background-image: linear-gradient(to bottom, white 100px, #006DB0);
}

.fm-navbar {
  margin-left: 6%;
  margin-right: 6%;
  height: 125px;
  overflow: hidden;
}

.fm-navbar-brand {
  height: 100px;
  float: left;
}

.fm-navbar-bar {
  margin-left: 150px;
}

.fm-navbar-top {
  background-color: #006db0;
  height: 64px;
  border-bottom-right-radius: 10px;
  padding: 11px;
  padding-left: 16px;
  color: white;
}

.fm-navbar-bottom {
  list-style: none;
  padding-left: 0px;
  display: inline-flex;
  margin-bottom: -20px;
}

.fm-body {
  background-color: #ffffff;
}

.fm-navbar-right {
  color: black;
  background-color: #ffffff;
}

.content {
  margin: 6%;
  padding: 15px;
  background-color: #ffffff;
}

.navbar-element {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #006DB0;
  height: 50px;
}

.navbar-element-left {
  border-bottom-left-radius: 10px;
}

.navbar-element-right {
  border-bottom-right-radius: 10px;
}

.navbar-element > a {
  color: #ffffff;
  display: block;
  height: 50px;
  text-decoration: none;
}

.navbar-element:hover {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 60px;
}

.navbar-element-selected {
  padding-top: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(to bottom, #006DB0 10px, #005487);
  height: 60px;
}

.question-title {
  min-height: 55px;
}