<div>
    <div ng-show="patient">
        <h3>{{patient.name}}</h3> <br>
        Geschlecht: {{patient.gender}}<br>
        Geburtsdatum: {{patient.birthday}}<br>
    </div>
    <button type="button" class="btn btn-default"
            ng-click="diagnosisParticipants(patient.id)">
        <i class="fa fa-paper-plane"></i>
        Patient übertragen
    </button>
</div>
<br><br>

<div ng-show="patient">
    <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="(i, questionnaire) in questionnaires track by $index"
            ng-click="selectQuestionnaire(i)"
            ng-class="(selectedQuestionnaire.index == questionnaire.id -1) ? 'active': ''">
            <a><label>{{questionnaire.title}}</label></a>
        </li>
    </ul>
    <br>

    <div>
        <div class="table-responsive  patient-scores">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="reply in replies[selectedQuestionnaire.index]">
                        {{reply.date}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="score in questionnaires[selectedQuestionnaire.index].scores">
                    <th>{{score.name}}</th>
                    <td class="score"
                        ng-repeat="(i, reply) in replies[selectedQuestionnaire.index] track by $index">
                        <button type="button" class="btn btn-link btn-gray" ng-click="chooseReply(i)">
                            {{reply[score.type]}}
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <br>

        <div class="row" ng-show="showReply">
            <div class="container">
                <div class="jumbotron">
                    <div class="row">
                        <button aria-hidden="true" class="close" ng-click="closeReply()"
                                ng-if="!first_choice">&times;</button>
                    </div>
                    <br>

                    <div class="row">
                        <questionnaire-form questionnaire="questionnaires[selectedQuestionnaire.index]"
                                            index="selectedQuestionnaire.index"
                                            answers="replies[selectedQuestionnaire.index][selectedReply].data"
                                            reply="false"></questionnaire-form>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default" ng-if="replies[selectedQuestionnaire.index].length > 1">
            <div class="panel-heading toggle" ng-click="toggle_collapse(replies[selectedQuestionnaire.index])">

                <span class="panel-title">Graphische Entwicklung</span>

                <i class="chevron fa fa-fw fa-chevron-right pull-right" ng-show="collapsed"></i>
                <i class="chevron fa fa-fw fa-chevron-down pull-right" ng-hide="collapsed"></i>

            </div>
            <div class="panel-body" style="overflow-x: auto" ng-hide="collapsed">
                <div class="row">
                    <div class="col-md-10">
                        <chart value="myChart" id="myCoolChart"></chart>
                    </div>
                    <div class="col-md-2">
                        <div ng-repeat="(i,score) in questionnaires[selectedQuestionnaire.index].scores track by $index"
                             ng-style="{'color': colors[i]}">
                            {{score.name}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
