<div class="modal-header">
    <h4 class="modal-title">Neuanmeldung</h4>
</div>

<div class="modal-body">

    <!-- surname  -->
    <div class="form-group">
        <label for="forename">Vorname</label>
        <input ng-model="patient.forename" type="text" class="form-control"
               id="forename" placeholder="Vornamen eingeben">
    </div>

    <!-- forename -->
    <div class="form-group">
        <label for="surname">Nachname</label>
        <input ng-model="patient.surname" type="text" class="form-control"
               id="surname" placeholder="Nachnamen eingeben">
    </div>

    <!-- birthday -->
    <div class="form-group">
        <label for="birthday"></label>
        <input ng-model="patient.birthday" type="text" class="form-control"
               id="birthday" placeholder=" eingeben">
    </div>

    <!-- Geschlecht -->
    <div class="form-group">
        <label>Geschlecht</label><br>
        <label class="radio-inline">
            <input type="radio" ng-model="patient.gender" value="männlich"> männlich
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="patient.gender" value="weiblich"> weiblich
        </label>
    </div>

    <hr>

    <div class="form-group">
        <label for="username">Username</label>
        <input ng-model="patient.username" type="text" class="form-control"
               id="username" placeholder="Vornamen eingeben">
    </div>

    <div class="form-group">
        <label for="inputPassword">Passwort</label>
        <input ng-model="patient.password" type="password" class="form-control" id="inputPassword"
               placeholder="Password">
    </div>

    <div class="form-group">
        <label for="passwordRepeat">Passwort bestätigen</label>
        <input type="password" class="form-control" id="passwordRepeat" placeholder="Password">
    </div>


    <button class="btn btn-default" ng-click="save()">
        <i class="fa fa-code"></i> Debug Login
    </button>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="save()">
        <i class="fa fa-code"></i> Debug Login
    </button>
</div>